.footer {
    background-color: #1a1a1a;
    border-top: 1px solid #333;
    padding-top: 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    display: flex;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100%;
}
